@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comforter+Brush&family=EB+Garamond&family=Montserrat+Alternates:ital,wght@1,500&family=Open+Sans:wght@300&display=swap');

/********* FIRST PART STYLING ALL PAGES **********/

* {
  box-sizing: border-box;
  font-family: EB Garamond;
}

body {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 0px;
  box-shadow: 0 0 15px 5px rgba(92, 125, 165, 0.8);
}

header {
    padding: 20px;   
    text-align: center;
    background-color: rgb(231, 229, 229);
    color: #333;
  }
  
  header h1 {
    font-size: 280%; 
    font-family: Impact;
  }

#navbar {
    text-align: center;
  }

.topnav {
    background-color: #333;
    top: 0;
    overflow: hidden;
  }

  .topnav a {
    display: inline-block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative;    
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: rgb(133, 132, 132);
    color: white;
  }

  .topnav .icon {
  display: none;
  }

  main {  
    display: flex;
    flex-wrap: wrap;s
    color: black;
  }
  
  aside {
    flex: 20%;
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 229, 229);
    padding: 20px;
  }

  article {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  button a {
    color: #333;
  }
  
  button a:link {
    text-decoration: none;
    color: #333;
    padding: 10px;
  }

  button {
    width: 100%;
    padding: 30px;
    font-size: 16px;
    transition-duration: 0.5s;
  }

  button:hover {
    background-color: rgb(133, 132, 132);
    color: white;
  }

  button:active {
    background-color: rgb(133, 132, 132);
  }

  .sidebar_img {
    width:100%;
    max-width:600px;
    margin-top: 20px;
  }

  footer {
    display: flex;
    padding: 20px;  
    background-color: rgb(231, 229, 229);
    color: #333;
    margin-top: 5px;
    justify-content: center;
  }

  footer div {
      margin: 0 20px;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
    
  .fa-instagram {
    background: #125688;
    color: white;
  }

  footer div a {
    margin-left: auto;
    margin-right: auto;
  }
  
  /******** START PAGE *********/

.notification {
    background:rgb(247, 95, 7);
    color: white;
    padding:1px;
    text-align:center;
    position: relative;
    display: none;
  }

  .indexImg {
    width:100%;
    max-width:600px;
    border-radius: 50%;
    margin-top: 20px;
  }
  
  /******* CONTACT PAGE ********/

  input[type=text], 
  [type=tel], 
  [type=email], 
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  input[type=submit] {
    background-color: #005900;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 1em;
  }

  input[type=submit]:hover {
    background-color: #008000;
  }
  
  .form {
    background-color: rgb(231, 229, 229);
    padding: 20px;
  }
  
  .left {
    float: left;
    width: 25%;
  }

  .right {
    float: left;
    width: 75%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /********** PRODUCT PAGE *********/

  .products {
    display: flex;
    gap: 15px;
  }

  .product_sections {
    flex-basis: 30%;
  }

  .product_sections img {
    width: 90%;
    margin-top: 20px;
  }

  /********* SHOP PAGE ************/
#shopImg {
  cursor: pointer;
  transition: 0.3s;
}

#shopImg:hover {
  opacity: 0.8;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; /* Gör så att modal läggs över */
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.8s;
  animation-name: zoom;
  animation-duration: 0.8s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

  /********* TASTING PAGE ************/

.slide_show {
  display: none;
}

.slideshow {
  max-width: 700px;
  position: relative;
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: rgb(133, 132, 132); 
}

/* Animation fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* SMALLER SCREENS */
  
  /* När skärmen är mindre än 1100px */
@media screen and (max-width: 1100px) {
    body {   
      margin: 0px; 
    }
    header h1{
      font-size: 230%; 
    }
}

/* När skärmen är mindre än 767px */
@media screen and (max-width: 767px) {
    footer {
        flex-direction: column;
    }

    footer div {
        margin: 10px auto;
    }
    
    .indexImg {
        width: 100%;
        border-radius: 0;
    }

    .sidebar_img {
      display: none;
    }

    /* Form */
    .left, .right, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }

    .products {
      flex-direction: column;
    }

    .topnav a {
      display: none;
    }
    .topnav a.icon {
      display: block;
    }

    .topnav.responsive {
      position: relative;
    }

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }

    .modal-content {
      width: 75%;
  }
  
    #shopImg {
      width: 100%;
    }

  }

 